
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www.)?dateapp.kl.com.ua$

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ public/$1 [L]
RewriteRule ^(/)?$ public/index.php [L]
